<h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">Michigan Math and Science Scholars Registration</h1>
<% unless user_signed_in? %>
<div class= "my-4">
  <p>
    Welcome to the Michigan Math and Science Scholars (MMSS) WebApply. MMSS is a program
    designed to introduce high school students to current developments and
    research in the sciences and to encourage the next generation of researchers
    to develop and retain a love of mathematics and science.
  </p>
</div>
<% end %>
<%= render 'directions' %>

