<h6 class="text-yellow-600">Michigan Math and Science Scholars Registration</h6>
<div class= "mb-4 text-sm">
  Welcome to the Michigan Math and Science Scholars (MMSS) WebApply. MMSS is a program
  designed to introduce high school students to current developments and
  research in the sciences and to encourage the next generation of researchers
  to develop and retain a love of mathematics and science.
</div>
<%= render 'directions' %>

