<div class="max-w rounded overflow-hidden shadow-lg">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">Editing Financial Aid</h1>
      <div class="m-2">
        <%= render 'form', financial_aid: @financial_aid %>
      </div>
</div>

<div class="mt-2">
  <%= link_to 'Back', financial_aid_path(@financial_aid) %>
</div>