<h1>New Financial Aid</h1>
<h6>To be considered for need based financial aid support, it will be necessary
  to provide the MMSS program with a brief explanation of why you are applying for financial support and a copy of your parents' or guardians' latest
  tax return (first page only) <strong>with the Social Security Number
  redacted</strong>.
 </h6>
 <br>

<%= render 'form', financial_aid: @financial_aid %>

