<% Campnote.all.each do |cn| %>
  <% if (cn.opendate..cn.closedate).include? DateTime.now %>
    <% if cn.notetype == "notice"%>
      <div class="bg-gray-200 border border-yellow-600 mt-4 p-2" >
    <% else %>
      <div class="bg-yellow-200 border border-red-800 mt-4 p-2 flex wrap space-between" >
        <div class="mr-2">
          <%= render :partial => 'svg/alert' %>
        </div>
    <% end %>
        <div>
          Starting: <%= (cn.opendate).strftime("%a, %b %-d, %Y at %l:%M %p") %>
          <br>Ending: <%= (cn.closedate).strftime("%a, %b %-d, %Y at %l:%M %p") %>
          <br><%= cn.note %>
        </div>
      </div> 
  <% end %>
<% end %>
