<h3>Financial Aid Requests</h3>
<% SessionActivity.all.each do |fa| %>
  <% if fa.enrollment.financial_aid.present? %>
    <li><%= link_to fa.enrollment.display_name, admin_financial_aid_request_path(fa.enrollment.financial_aid) %>
    <% if fa.enrollment.financial_aid.awarded %> 
      -- awarded 
    <% else %>
      -- pending
    <% end %>
  <% end %>

<% end %>
