<h3>Financial Aid Requests</h3>
<% current_enrolled_applicants.each do |ca| %>

    <li><%= link_to ca.display_name, admin_financial_aid_request_path(ca.financial_aid) %> has been awarded <%= ca.financial_aid.awarded %>

<% end %>