<h4>Number of applicants who are enrolled to each session</h4>

<% CampOccurrence.active.each do |co| %>
  <% unless co.description == "Any Session" %>
    <li><%= co.description %> has <%= pluralize(Enrollment.enrolled.map { |enroll| enroll.session_assignments.where(camp_occurrence: co).exists?}.count(true), 'enrolled applicant' ) %>.
  <% end %>
<% end %>