<h3> This is testing_partial_display</h3>
    column "Transcript" do |enroll|
      if enroll.transcript.attached?
        link_to enroll.transcript.filename, url_for(enroll.transcript)
      end
    end
    column "Student Packet" do |sp|
      if sp.student_packet.attached?
        link_to sp.student_packet.filename, url_for(sp.student_packet)
      end
    end
