<h4>Hello <%= "#{@student.firstname} #{@student.lastname}" %></h4>
<p>
  Thank you for your interest in the Michigan Math and Science Scholars! 
  Your financial aid application has been reviewed. I am sorry to tell 
  you that we are not able to award you financial aid this 2021 year.
</p>
<p>
  Your account balance is <%= "#{humanized_money_with_symbol(@balance_due / 100)}" %>. Please log in to your student 
  portal and pay your balance by <%= "#{@finaid.payments_deadline.strftime("%B %d, %Y")}" %> in order to finalize admission.
</p>
<p>
  Congratulations on your achievements in your scholastic studies!  We hope to see you soon.
</p>