    <h4>Hello <%= "#{@student.firstname} #{@student.lastname}" %></h4>
    <p>
      Thank you for your interest in the Michigan Math and Science Scholars! 
      I am happy to report that you have been awarded financial aid in the amount 
      of <%= "#{humanized_money_with_symbol(@finaid.amount)}" %>.
    </p>
    <% unless @balance_due <= 0 %>
      <p>
        Your remaining balance is <%= "#{humanized_money_with_symbol(@balance_due / 100)}" %>.
      </p>
      <p>
        Please log in to your student portal and pay your balance by <%= "#{@finaid.payments_deadline.strftime("%B %d, %Y")}" %>
        in order to finalize your enrollment.
      </p>
    <% end %>
    <p>
      Please ensure that you accept your offer and upload the required documents to your student portal by May 1.
    </p>

    <p>
      Congratulations on your achievements in your scholastic studies! 
    </p>

