    <h4>Hello <%= "#{@student.firstname} #{@student.lastname}" %></h4>
    <p>
      You are awarded <%= "#{humanized_money_with_symbol(@finaid.amount)}" %> of financial aid.
      Please pay the balance owed on your account as soon as possible to finalize admission.
    </p>
