<p class="text-lg">
  <span class="text-red-700">ERROR:</span>
  <br>
  If you believe that this is an error and the recommendation has not been
  submitted yet please contact the Michigan Math & Science Scholars at:
    <%= mail_to "mmss@umich.edu" %>
</p>
