<div class="max-w rounded overflow-hidden shadow-lg">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">New Recommendation for Student</h1>
  <div class = "m-2">
    <%= render 'form', recupload: @recupload %>
  </div>
</div>

