<p class="text-base">
  We have received your recommendation for
  the Michigan Math & Science Scholars High School Summer Program
  <%= current_camp_year %>.
</p>
<p class="text-base">
    Thank you very much for your help in supporting this student's educational efforts.
</p>
