<p class="text-lg">
  We have received your recommendation for
  for the Michigan Math & Science Scholars High School Summer Program
  <%= current_camp_year %>.
<br>
    Thank you very much for your help in supporting this student's educational efforts.
</p>
