<p><%= camp_occurrence.id %> | <%= link_to camp_occurrence.description, camp_configuration_camp_occurrence_path(@camp_configuration, camp_occurrence) %>

<p> Edit this occurrence:</p>

<%= render 'camp_occurrences/form', camp_occurrence: camp_occurrence %>

<p><%= link_to 'Delete occurrence', camp_configuration_camp_occurrence_path(@camp_configuration, camp_occurrence), method: :delete %></p>

<p>======================</p>
<br>