
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>Hello <%= "#{@recommendation.firstname} #{@recommendation.lastname}" %></h1>
    <p>
      You are receiving this email because a student applying to the University of Michigan's Michigan Math & Science Scholars High School Summer Program has listed you as a recommender. \r\n
      Please follow the link below by either clicking on it, or pasting it into the address line of your favorite web browser.
      You will be taken to a web-page where you can type or paste in your recommendation for <%= "#{@student.firstname} #{@student.lastname}" %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Thank you very much for assisting with <%= "#{@student.firstname} #{@student.lastname}" %>'s academic development. 
    </p>
    <p>
      MMSS Office Staff<br>
      mmss@umich.edu
    </p>
  </body>
</html>