<div class="max-w rounded overflow-hidden shadow-lg">
  <h1 class="text-yellow-um_yellow bg-blue-um_blue p-2">Editing Course Preferences</h1>
  <div class="m-2">
    <%= render 'form', course_preference: @course_preference %>
  </div>
</div>

<div class="mt-2">
  <%= link_to 'Back', enrollment_course_preferences_path(@current_enrollment), class: "btn btn-blue" %>
</div>