
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "#{@sender.email} has feedback" %></h3>
    <p class="font-medium">
      <%= "Feedback Type: #{@feedback.genre}" %>
    </p>
    <p>
      <%= "Feedback Message: #{@feedback.message}" %>
    </p>
    <p>
      Your friendly MMSS Registration server<br>
    </p>
  </body>
</html>
