

<p>
  <strong>Name:</strong>
  <%= @demographic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @demographic.description %>
</p>

<%= link_to 'Edit', edit_demographic_path(@demographic) %> |
<%= link_to 'Back', demographics_path %>
