<h1>Send Feedback</h1>
<h6>Let us know what you like, don't like, want to see added or anything else
  relate to this registration system. Don't be shy but please be constructive.
Your comments, input and opinions are very much appreciated!!!</h6>
<%= render 'form', feedback: @feedback %>

<div class="mt-2">
  <%= link_to 'Home', root_path, class: "btn btn-blue" %>
</div>
