<p><%= activity.id %> | <%= link_to activity.description, camp_occurrence_activity_path(@camp_occurrence, activity) %>

<p> Edit this Activity:</p>

<%= render 'activities/form', activity: activity %>

<p><%= link_to 'Delete activity', camp_occurrence_activity_path(@camp_occurrence, activity), method: :delete %></p>

<p>======================</p>
<br>