<h4><%= "Hello #{@application.firstname}," %></h4>
<p>
  You have declined:
  <ul>
      <li><%= @session_assignment.camp_occurrence.display_name %></li>
  </ul>
  <ul>
      <li><%= @course_assignment %></li>
  </ul>
</p>