<h4><%= "Hello #{@application.firstname}," %></h4>
<p>
  You have accepted:
  <ul>
      <li><%= @session_assignment.camp_occurrence.display_name %></li>
  </ul>
  To participate in:
  <ul>
      <li><%= @course_assignment %></li>
  </ul>
</p>
<p>
  Retain the login id: <%= @user.email %> and password that you created
  during the application process. You will need it to refer back to the
  application web site to review the events associated with your application.    
</p>