

<nav class="flex items-center justify-between flex-wrap border-blue-900 border-b-2 p-6">
  <div class="flex items-center flex-shrink-0 text-blue-900 mr-6">
    <%= link_to root_path do %>
      <%= image_pack_tag "MMSS_Logo.png", alt:"MMSS Logo", size: "250x36"  %>
    <% end %>
  </div>
  <div class="w-full block flex sm:items-center sm:w-auto">
    <div class= "flex justify-end">
      <% if user_signed_in? %>
        <div>
          <%= link_to current_user.email, edit_user_registration_path, class: "inline-block btn btn-sm btn-blue mr-1" %>
        </div>
        <div>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "inline-block btn btn-sm btn-teal ml-1" %>
        </div>
      <% end %>
    </div>
<!--     <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div> -->
  </div>
</nav>
